<router-outlet />
<h1>La Paz</h1>

@for (doctor of doctors; track doctor.doctor_codi) {
  <p>{{ doctor.doctor_nom }} {{ doctor.doctor_especialitat }}</p>
}

<p>El departament 20 te {{ numeroEmpleats }} empleats</p>

<input [(ngModel)]="empleatABorrar" placeholder="El numero del empleado que quieres borrar"/>
<button (click)="borrarEmpleat()"> Borrar el empleado </button>

<h1>Ex 11</h1>
@for (hospital of hospitals; track hospital.hospital_nom) {
  <p>
    {{ hospital.hospital_nom }} -
    Salas: {{ hospital.numSales }} -
    Camas totales: {{ hospital.totalLlits }}
  </p>
}
